extends layout

block content
    body
        if auth
            script.
                function loadTable(input){
                    $.post( "/bc/accessRequest", { email:input.name }, function (data) {

                        var html = '';
                        for (var i = 0; i < data.res.length; i++)
                            html += '<tr><td>' + data.res[i]._hearthRate +
                                '</td><td>' + data.res[i]._minBloodPressure + '</td>' +
                                '</td><td>' + data.res[i]._maxBloodPressure + '</td>' +
                                '</td><td>' + data.res[i]._lat + '</td>' +
                                '</td><td>' + data.res[i]._long + '</td>' +
                                '</td><td>' + data.res[i]._timeOfAcquisition + '</td>' +
                                '</tr>';
                        document.getElementById("result").innerHTML = html

                    } );
                }
            .container-fluid
                .row(style = 'padding: 20px')
                    .col-md-4
                    .col-md-4
                        a.btn.btn-primary.btn-block.btn-lg(type='button', href = '/bc/accessRequest/makeRequest')
                            | MakeRequest
                    .col-md-4
                .row(style = 'padding: 20px')
                    .col-md-4(style = 'padding: 20px')
                        h3.font-italic Private Requests:
                        .list-group
                            unless privateRequests === undefined
                                each val in privateRequests
                                    if val.accepted
                                        a.list-group-item.active.font-italic.font-weight-bold(href='#', name = val.PrivateCustomers_email, onclick = 'loadTable(this)')= val.PrivateCustomers_email
                                            span.badge.badge-success.badge-pill Accepted
                                    else
                                        a.list-group-item.disabled(role="button", name = val.PrivateCustomers_email)= val.PrivateCustomers_email
                                            span.badge.badge-danger.badge-pill Pending
                            else
                                h2 No private requests yet.
                    .col-md-8(style = 'padding: 20px')
                        table.table
                            thead
                                tr
                                    th
                                        | Hearth Rate
                                    th
                                        | Minimum Blood Pressure
                                    th
                                        | Maximum Blood Pressure
                                    th
                                        | Latitude
                                    th
                                        | Longitude
                                    th
                                        | Time Of Acquisition
                            tbody#result

        else
            h1 Login to use this function
