extends layout

block content
    body
        if auth
            script.
                //load table
                function loadTable(input){
                    $.post( "/bc/accessRequest", { email:input.name }, function (data) {

                        var html = '';
                        for (var i = 0; i < data.res.length; i++){
                            html += '<tr><td>' + data.res[i]._hearthRate +
                                '</td><td>' + data.res[i]._minBloodPressure + '</td>' +
                                '</td><td>' + data.res[i]._maxBloodPressure + '</td>' +
                                '</td><td>' + data.res[i]._lat + '</td>' +
                                '</td><td>' + data.res[i]._long + '</td>' +
                                '</td><td>' + data.res[i]._timeOfAcquisition + '</td>' +
                                '</tr>';
                        }

                        document.getElementById("result").innerHTML = html
                        changeName(input.name);
                        drawGraph(data);
                    } );
                }
                function drawGraph(data) {
                    //chart config
                    $('#chart').remove(); // this is my <canvas> element
                    $('#chart-container').append('<canvas id="chart"><canvas>');
                    let ctx = document.getElementById("chart").getContext('2d');
                    let myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.res.map(function (value) {
                                return value._timeOfAcquisition;
                            }),
                            datasets: [{
                                label: 'Hearth Rate',
                                backgroundColor: 'rgba(154, 203, 203, 0.6)',
                                data: data.res.map(function (value) {
                                    return value._hearthRate;
                                })},
                                {
                                    label: 'Minimum Blood Pressure',
                                    backgroundColor: 'rgba(85, 170, 170, 0.8)',
                                    data: data.res.map(function (value) {
                                        return value._minBloodPressure;
                                    })
                                },
                                {
                                    label: 'Maximum Blood Pressure',
                                    backgroundColor: 'rgba(43, 85, 85, 1)',
                                    data: data.res.map(function (value) {
                                        return value._maxBloodPressure;
                                    })
                                }]
                        },
                        options: {
                            scales: {
                                xAxes:[{
                                    stacked: true,
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                yAxes: [{

                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    document.getElementById('tbl').style.visibility = 'visible';
                }

                function changeName(email){
                    document.getElementById('title').innerHTML = "<h2>"+email+"</\h2>";
                }

                $(document).ready(function () {
                    $('#chart-container').append('<canvas id="chart"><canvas>');
                    let ctx = document.getElementById("chart").getContext('2d');
                    let myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            datasets: [{
                                label: 'Hearth Rate',
                                backgroundColor: 'rgba(154, 203, 203, 0.6)'
                            },
                                {
                                    label: 'Minimum Blood Pressure',
                                    backgroundColor: 'rgba(85, 170, 170, 0.8)'
                                },
                                {
                                    label: 'Maximum Blood Pressure',
                                    backgroundColor: 'rgba(43, 85, 85, 1)'
                                }]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    stacked: true,
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                yAxes: [{

                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    document.getElementById('tbl').style.visibility = 'hidden';
                });

            .container-fluid
                .row
                    .col-md-9.jumbotron(style='background-color: transparent')
                        h2.text-center#title(style='color: #77bbbb; padding-bottom:4%;') Choose a request
                        #chart-container
                        table.table.table-light.table-responsive#tbl(style ="padding-top:5%; color : #77bbbb;")
                            thead
                                tr
                                    th
                                        | Hearth Rate
                                    th
                                        | Minimum Blood Pressure
                                    th
                                        | Maximum Blood Pressure
                                    th
                                        | Latitude
                                    th
                                        | Longitude
                                    th
                                        | Time Of Acquisition
                            tbody#result.table-primary(style="background-color:transparent; font-size:14px;")
                    .col-md-3(style = 'padding: 20px; background-color:#ededed;')
                        h3.text-center(style ="color:#77bbbb; padding-bottom:5%;") Private Requests
                        a.btn.btn-primary.btn-block.btn-lg.top-padding.button-mod(href = '/bc/accessRequest/makeRequest')
                            | Make New Request
                        .list-group
                            unless privateRequests === undefined
                                each val in privateRequests
                                    if val.accepted
                                        a#req_acc.list-group-item.active.font-italic.font-weight-bold(href='#',
                                        name = val.PrivateCustomers_email, onclick = 'loadTable(this)', style="overflow-x:scroll;")= val.PrivateCustomers_email
                                            span.badge.badge-success.badge-pill Accepted
                                    else
                                        a#req_ref.list-group-item.disabled(role="button", style="overflow-x:scroll;"
                                        name = val.PrivateCustomers_email)= val.PrivateCustomers_email
                                            span.badge.badge-danger.badge-pill Pending
                            else
                                h4(style ="color:#77bbbb;") No private requests yet.


        else
            h1 Login to use this function
