extends layout

block content
    body
        if auth
            script.
                //load table
                function loadTable(input){
                    $.post( "/bc/anonRequest", { title:input.name }, function (data) {
                        let nonAnon = 'Not enough data';
                        var html = '';
                        for (var i = 0; i < data.res.length; i++){
                            if(data.res[i].avg_bpm == 0){
                                html += '<tr><td>' + nonAnon +
                                    '</td><td>' + nonAnon + '</td>' +
                                    '</td><td>' + nonAnon + '</td>' +
                                    '</td><td>' + data.res[i].timestamp + '</td>' +
                                    '</tr>';
                            }else {
                                html += '<tr><td>' + data.res[i].avg_bpm +
                                    '</td><td>' + data.res[i].avg_bp_min + '</td>' +
                                    '</td><td>' + data.res[i].avg_bp_min + '</td>' +
                                    '</td><td>' + data.res[i].timestamp + '</td>' +
                                    '</tr>';
                            }
                        }

                        document.getElementById("result").innerHTML = html
                        changeName(input.name);
                        drawGraph(data);
                    });
                }
                function drawGraph(data) {
                    //chart config
                    $('#chart').remove(); // this is my <canvas> element
                    $('#chart-container').append('<canvas id="chart"><canvas>');
                    let ctx = document.getElementById("chart").getContext('2d');
                    let myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.res.map(function (value) {
                                return value.timestamp;
                            }),
                            datasets: [{
                                    label: 'Avg Hearth Rate',
                                    borderColor: 'rgba(154, 203, 203, 0.6)',
                                    fill: false,
                                    data: data.res.map(function (value, index) {
                                        return value.avg_bpm;
                                    }
                                )},
                                {
                                    label: 'Avg Minimum Blood Pressure',
                                    borderColor: 'rgba(85, 170, 170, 0.8)',
                                    fill: false,
                                    data: data.res.map(function (value, index) {
                                        return value.avg_bp_min;
                                    })
                                },
                                {
                                    label: 'Avg Maximum Blood Pressure',
                                    borderColor: 'rgba(43, 85, 85, 1)',
                                    fill: false,
                                    data: data.res.map(function (value, index) {
                                        return value.avg_bp_max;
                                    })
                                }]
                        },
                        options: {
                            scales: {
                                xAxes:[{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                yAxes: [{

                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    document.getElementById('tbl').style.visibility = 'visible';
                }

                function changeName(title) {
                    document.getElementById('title').innerHTML = "<h2>" + title + "</\h2>";
                }

                $(document).ready(function () {
                    $('#chart-container').append('<canvas id="chart"><canvas>');
                    let ctx = document.getElementById("chart").getContext('2d');
                    let myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            datasets: [{
                                    label: 'Avg Hearth Rate',
                                    borderColor: 'rgba(154, 203, 203, 0.6)'
                                },
                                {
                                    label: 'Avg Minimum Blood Pressure',
                                    borderColor: 'rgba(85, 170, 170, 0.8)'
                                },
                                {
                                    label: 'Avg Maximum Blood Pressure',
                                    borderColor: 'rgba(43, 85, 85, 1)'
                                }]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    stacked: true,
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                yAxes: [{

                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    document.getElementById('tbl').style.visibility = 'hidden';
                });

            .container-fluid
                .row
                    .col-md-9.jumbotron(style='background-color: transparent')
                        h2.text-center#title(style='color: #77bbbb; padding-bottom:4%;') Choose a request
                        #chart-container
                        table.table.table-light.table-responsive#tbl(style ="padding-top:5%; color : #77bbbb;")
                            thead
                                tr
                                    th
                                        | Average Heath Rate
                                    th
                                        | Average Minimum Blood Pressure
                                    th
                                        | Average Maximum Blood Pressure
                                    th
                                        | Time of Calculation
                            tbody#result.table-primary(style="background-color:transparent; font-size:14px;")
                    .col-md-3(style = 'padding: 20px; background-color:#ededed;')
                        h3.text-center(style ="color:#77bbbb; padding-bottom:5%;") Anonymous Request:
                        .list-group
                            unless queries === undefined
                                each val in queries
                                    if !val.closed
                                        a#req_acc.list-group-item.active.font-italic.font-weight-bold(href='#', name = val.title, onclick = 'loadTable(this)')= val.title
                                            hr
                                            span Next Update:#{val.next_update}
                                            span.badge.badge-success.badge-pill Active
                                    else
                                        a#req_ref.list-group-item.font-italic.font-weight-bold(href='#', role="button", name = val.title, onclick = 'loadTable(this)')= val.title
                                            span.badge.badge-danger.badge-pill Closed
                            else
                                h4(style ="color:#77bbbb;") No anonymous requests yet.
                        a.btn.btn-primary.btn-block.btn-lg.top-padding.button-mod(href = '/bc/anonRequest/makeRequest')
                            | Make New Request

        else
            h1 Login to use this function
