doctype html
html
  head
    title #{title}
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/stylesheets/sidebar.css', rel='stylesheet')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    link(rel="shortcut icon" href="")
    script(src='/bootstrap/dist/js/bootstrap.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
    script(defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC3GU5egg_9ztBELEclTXUJmyzNz_Dk3lg&callback=myMap')
    script(src="https://cdn.jsdelivr.net/npm/flatpickr")




#wrapper
  // Sidebar
  #sidebar-wrapper
      ul.sidebar-nav
          p
          li.sidebar-brand
              h2.text-left Menu
          if auth
              li
                  a.text-left(href='/')
                    i.fas.fa-home.pr-3
                    | Home Page
              li
                  a.text-left(href='#')
                    i.fas.fa-th-large.pr-3
                    | Dashboard
              li
                  a.text-left(href='/bc/accessRequest')
                    i.fas.fa-user.pr-3
                    | Private Requests
              li
                  a.text-left(href='/bc/anonRequest')
                    i.fas.fa-list-ul.pr-3
                    | Anonymous queries
              li
                  a.text-left(href='/bc/logout')
                    i.fas.fa-sign-out-alt.pr-3
                    | Logout
          else if isSystemManager
              li
                  a.text-left(href='/sm/pendingRequests')
                    i.fas.fa-clipboard-check.pr-3
                    | Pending Requests
              li
                  a.text-left(href='/bc/logout')
                      i.fas.fa-sign-out-alt.pr-3
                      | Logout
          else
              li
                  a.text-left(href='/')
                    i.fas.fa-home.pr-3
                    | Home Page
              li
                  a.text-left(href='/login')
                    i.fas.fa-sign-in-alt.pr-3
                    | Login / Register

  // /#sidebar-wrapper
  // Page Content
  #page-content-wrapper
      .container-fluid
          header
          .sidebar-btn
            a#menu-toggle.btn.btn-light(href='#menu-toggle') >>
          block content
  // /#page-content-wrapper
  // /#wrapper
  // Menu Toggle Script
  script.
      $("#menu-toggle").click(function (e) {
          e.preventDefault();
          document.getElementById('menu-toggle').innerText = document.getElementById('menu-toggle').innerText === '>>' ? '<<' : '>>';
          $("#wrapper").toggleClass("toggled");
      });


