doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
    link(href='/stylesheets/sidebar.css', rel='stylesheet')
    script(src='/bootstrap/dist/js/bootstrap.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
    script(defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC3GU5egg_9ztBELEclTXUJmyzNz_Dk3lg&callback=myMap')




#wrapper
  // Sidebar
  #sidebar-wrapper
      ul.sidebar-nav
          p
          li.sidebar-brand
              h2 Menu:
          if auth
              li
                  a(href='/') Home Page
              li
                  a(href='#') Dashboard
              li
                  a(href='/bc/accessRequest') Private Requests
              li
                  a(href='/bc/anonRequest') Anonymous queries
              li
                  a(href='/bc/logout') Logout
          else if isSystemManager
              li
                  a(href='/sm/pendingRequests') Pending Requests
              li
                  a(href='/bc/logout') Logout
          else
              li
                  a(href='/')
                    | Home Page
              li
                  a(href='/login') Login / Register

  // /#sidebar-wrapper
  // Page Content
  #page-content-wrapper
      .container-fluid
          header
          .sidebar-btn
            a#menu-toggle.btn.btn-light(href='#menu-toggle') >>
          block content
  // /#page-content-wrapper
  // /#wrapper
  // Menu Toggle Script
  script.
      $("#menu-toggle").click(function (e) {
          e.preventDefault();
          document.getElementById('menu-toggle').innerText = document.getElementById('menu-toggle').innerText === '>>' ? '<<' : '>>';
          $("#wrapper").toggleClass("toggled");
      });


