doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
    link(href='/stylesheets/sidebar.css', rel='stylesheet')
    script(src='/bootstrap/dist/js/bootstrap.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')


#wrapper
  // Sidebar
  #sidebar-wrapper
      ul.sidebar-nav
          p
          if auth
              li.sidebar-brand
                  h2 Menu:
              li
                  a(href='/') Home Page
              li
                  a(href='#') Dashboard
              li
                  a(href='/bc/accessRequest') Private Requests
              li
                  a(href='#') Anonymous queries
              li
                  a(href='/bc/logout') Logout
          else
              li.sidebar-brand
                  h2 Menu:
              li
                  a(href='/')
                    | Home Page
              li
                  a(href='/bc/login') Login / Register

  // /#sidebar-wrapper
  // Page Content
  #page-content-wrapper
      .container-fluid
          header
            a#menu-toggle.btn.btn-secondary(href='#menu-toggle') Toggle Menu
          block content
  // /#page-content-wrapper
  // /#wrapper
  // Menu Toggle Script
  script.
      $("#menu-toggle").click(function (e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });


