extends layout

block content
    unless auth
        body.text-center
            .container.jumbotron.background-mod
                .row
                    .col-md-4
                    .col-md-4
                        p
                            if newReg
                                h3 Success, you are registered.
                        p
                        form.form-signin(action='/login', method='post')
                            h1.h3.mb-3.font-weight-normal Please sign in
                            p
                            label.sr-only(for='email') Email address
                            input#email.form-control(type='email', name='email', placeholder='Email address', required='', autofocus='')
                            p
                            label.sr-only(for='password') Password
                            input#password.form-control(type='password', name='password', placeholder='Password', required='')
                            p
                            button.btn.btn-lg.btn-primary.btn-block.button-mod(type='submit') Sign in

                            h5.text-center(style="padding-top:5%;") Not registered?
                            p
                            a.btn.btn-primary.btn-bd-primary.button-mod(href = '/bc/register') Register
                    .col-md-4
    else
        p
        h1 You are already logged in

