extends layout

block content
    body
        if auth
            body.text-center
                .row
                    .col-md-4
                    .col-md-4
                        p
                        form.form-signin(action='/bc/accessRequest/newRequest', method='post')
                            h4.font-italic.font-weight-bold
                            label.sr-only(for='email') Private Customer's email
                            input#password.form-control(type='email', name='email', placeholder='Insert email', required='')
                            button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
                    .col-md-4
        else
            p
            h1.font-weight-bold Login to use this function.
            a.btn(href = '/bc/login') Login