extends layout

block content
    body.text-center
        unless auth
            .row
                .col-md-4
                    if regError
                        p.font-italic.font-weight-light(style='color:#000000;padding: 20px') Something went wrong! Check your inputs
                .col-md-4
                    form(action='/bc/register', method='post')
                        label(for='email') Email address
                        input#email.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email')
                        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                        label(for='password') Password
                        input#password.form-control(type='password', name='password', placeholder='Password')
                        label(for='partitaIva') Partita Iva
                        input#partitaIva.form-control(type='text', name='partitaIva', placeholder='p. iva', oninput='check(this)')
                        script.

                            function check(input) {
                                let piva ;
                                let psw;
                                if (!input) {
                                    piva = document.getElementById('partitaIva');
                                    psw = document.getElementById('password');
                                }
                                else
                                    piva = input;

                                if (piva.value.length === 11) {
                                    piva.setCustomValidity('');
                                } else {
                                    piva.setCustomValidity('too short');
                                }
                                if (psw.value.length === 0) {
                                    psw.setCustomValidity('too short');
                                } else {
                                    // input is fine -- reset the error message
                                    psw.setCustomValidity('');
                                }
                            }
                        label(for='name') Name
                        input#name.form-control(type='text', name='name', placeholder='Name')
                        label(for='address') Address
                        input#address.form-control(type='text', name='address', placeholder='Address')
                        label(for='comune') District
                        input#comune.form-control(type='text', name='comune', placeholder='District')
                        label(for='nazione') Nation
                        input#nazione.form-control(type='text', name='nazione', placeholder='Nation')
                        hr
                        button.btn.btn-primary.button-mod(type='submit', onclick = 'check()') Submit

                .col-md-4
        else
            h1 Logout to Register a new user

